body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#calculator-box {
  display: flex;
  flex-direction: column;
  width: 260px;
  height:300px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #ffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 30px;
  padding: 30px;
}
#calculator-grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 8px;
  justify-content: center;
  align-items: center;
}
#calculator-grid > button {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  padding: 14px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#screen {
  width: 88%;
  height: 50px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#calculator-grid .clear {
  background: red;
  color: #fff;
}

#calculator-grid .operator {
  background-color: black;
  color: #fff;
}
h1{
  color:teal;
  font-size:45px;
}